<h1>Articles en stocks</h1>
<ul class="articles_list">
 <% @highStockArticles.each do |article| %>
    <li class="articles_item">
      <%= article.nom %>
      <div class="articles_qty">
        <span>XS: <%= article.stocks.first.xs %></span>
        <span>S: <%= article.stocks.first.s %></span>
        <span>M: <%= article.stocks.first.m %></span>
        <span>L: <%= article.stocks.first.l %></span>
        <span>XL: <%= article.stocks.first.xl %></span>
      </div>
    </li>
  <% end %>
</ul>

<h1>Articles avec peu de stocks</h1>
<ul>
  <% @lowStockArticles.each do |article| %>
    <li class="articles_item">
      <%= article.nom %>
      <div class="articles_qty">
        <span>XS: <%= article.stocks.first.xs %></span>
        <span>S: <%= article.stocks.first.s %></span>
        <span>M: <%= article.stocks.first.m %></span>
        <span>L: <%= article.stocks.first.l %></span>
        <span>XL: <%= article.stocks.first.xl %></span>
      </div>
    </li>
  <% end %>
</ul>

<h1>Articles en rupture de stocks</h1>
<ul>
  <% @soldOutArticles.each do |article| %>
    <li class="articles_item">
      <%= article.nom %>
      <div class="articles_qty">
        <span>XS: <%= article.stocks.first.xs %></span>
        <span>S: <%= article.stocks.first.s %></span>
        <span>M: <%= article.stocks.first.m %></span>
        <span>L: <%= article.stocks.first.l %></span>
        <span>XL: <%= article.stocks.first.xl %></span>
      </div>
    </li>
  <% end %>
</ul>